.contact-section {
  padding: 80px 0;
  background: #ffffff;
}

.contact-wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 60px;
}

/* LEFT INFO */
.contact-info {
  background: #bfeeee;
  color: #ffffff;
  padding: 50px 40px;
  flex: 1;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 25px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 15px;
}

.info-box {
  background: #ffffff;
  color: #083b5c;
  display: flex;
  gap: 15px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.info-box .icon {
  font-size: 26px;
  background: #004f55;
  color: #ffffff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box h4 {
  margin-bottom: 4px;
}

.info-box .icon a {
  text-decoration: none;
}

.contact-form .btn {
  width: 100%;
  margin-top: 20px;
}


/* FORM */
.contact-form {
  flex: 2;
}

.contact-form h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #004f55;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact-form .tel {
  width: 100%;
  height: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  border: none;
  background: #f3f5f7;
  font-size: 14px;
}

.contact-form textarea {
  margin-top: 20px;
  height: 160px;
  resize: none;
}

.contact-form .full {
  margin-top: 20px;
}

.hero-content {
  position: relative;
  color: #bfeeee;
  margin-left: 8%;
}

.hero-subtitle {
  font-size: 35px;
  font-weight: 700;
  margin-top: 8px;
  color: #bfeeee;
}





/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}

.offices-section {
  padding: 90px 0;
  background: #ffffff;
}

.offices-wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.offices-title {
  font-size: 40px;
  color: #083b5c;
  margin-bottom: 50px;
}

.offices-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
}

.office-card {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.office-icon {
  width: 56px;
  height: 56px;
  background: #083b5c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.office-text h4 {
  font-size: 20px;
  color: #0a6fb7;
  margin-bottom: 6px;
}

.office-text p {
  font-size: 15px;
  color: #0b2a44;
  line-height: 1.7;
}

.map-link {
  color: #0a6fb7;
  text-decoration: none;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .offices-grid {
    grid-template-columns: 1fr;
  }

  .offices-title {
    font-size: 30px;
  }
}

